@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: #fefefe;
}
